.main {
  max-width: 700px;
  margin: auto;
}

.grid-container{
      display: grid;
      grid-template-areas: 'driver_cont drive_cont'
                            'details details'
                            'details details';
      background-color: whitesmoke;
      padding: 10px;
      grid-row-gap: 10px;
      grid-column-gap: 20px;
  }

  .driver_cont{
      grid-area:driver_cont ;
      text-align: center;
  }

  .details{
      grid-area:details ;
      text-align: center;
      border-top: 2px solid rgb(208,208,208);
  }

  .drive_cont{
      grid-area:drive_cont ;
  }
  .cont{
      width: 40%;
      margin: auto;
  }

  .orign_destination{
      font-size: 25px;
  }


  .attention_text{
      color: var(--page_title_color);
      font-weight: bold;
      font-size: 18px;
  }

  .profile_pic{
    vertical-align: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
      border: 2px solid gray;
}
    .link_text{
      text-decoration:none;
        color: black;
  }

    .checked {
  color: orange;
}


@media only screen and (max-width: 415px) {

  .cont{
      width: 80%;
  }

}

