{% extends 'base.html' %}

{% set page_head_title = 'ChangePassword' %}

{% block page_body_css %}
    <link rel="stylesheet" href="{{ url_for('ChangePassword.static', filename='css/ChangePassword.css') }}"/>
{% endblock %}

{% block page_body_main_content %}

    <div class="header" >
        <a href="/Profile" class="back_btn"> <i class="fa fa-chevron-circle-right" aria-hidden="true"  style='color:lightgray'></i> </a>
        <h1 class="header_text"> שינוי סיסמה </h1>
    </div>
    <br>


     {% if message %}
         <p class="msg"><span id="msg_design">{{ message }} </span></p>
     {% endif %}

     <form id="update_password" action="/update_password" method="post">
        <div class="change_password">
            <label for="current_psw" class="lable_text">סיסמה נוכחית:    </label>
            <input class="password" type="password" id="current_psw" placeholder="* סיסמה" name="current_psw" required> <br><br>
            <label for="new_psw" class="lable_text">סיסמה חדשה:    </label>
            <input class="password" type="password" id="new_psw" placeholder="* סיסמה" name="new_psw" required> <br><br>
            <label for="confirm_psw" class="lable_text">אימות סיסמה:    </label>
            <input class="password" type="password" id="confirm_psw" placeholder="* סיסמה" name="confirm_psw" required> <br><br><br>
        <button onclick="validateChangePswForm()" class="btn_type2"> <b> עדכנ/י </b> </button>
        </div>
     </form>


{% endblock %}




