
#add_img,#add_img_2{
  color: rgb(72, 104, 175);
}

#myCheck{
  /*margin-right: 41%; !* for 80% screen *!*/
    margin-right: 37.5%; /* for 100% screen */
}

/* Style the input container */
.input-container {
  display: flex;
  /*width: 770px;*/
  margin-bottom: 15px;
    /*justify-content: center;*/
  /*margin-right: 41%; !* for 80% screen *!*/
    margin-right: 37.5%; /* for 100% screen */
}



/* Style the form icons */
.icon {
  padding: 10px;
  background: rgb(72, 104, 175);
  color: white;
  min-width: 50px;
  text-align: center;
}

/* Style the input fields */
.input-field {
  /*width: 35%;*/
  width: 270px;
  padding: 10px;
  outline: none;
  text-align: right;
}

.input-field:focus {
  border: 2px solid rgb(72, 104, 175);
}

.input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
  }

#register_btn {
  width: 252.5px;
  /*margin-right: 43%; !* for 80% screen *!*/
  margin-right: 39.5%; /* for 100% screen */
}

.main_text{
    justify-content: center;
}

@media only screen and (max-width: 500px) {

  #myCheck{
  margin-right: 19%;
}

/* Style the input container */
.input-container {
  /*width: 580px;*/
  margin-right: 10%;
}

#register_btn {
  width: 252.5px;
  margin-right: 19%;
}

.icon {
    border-radius: 5px;
}


}

@media only screen and (min-width: 1400px) {

  #myCheck{
  margin-right: 41.5%;
}

/* Style the input container */
.input-container {
  margin-right: 41.5%;
}

#register_btn {
  width: 252.5px;
  margin-right: 43.5%; /* for 100% screen */
}

}

