{% extends 'base.html' %}

{% set page_head_title = 'MyRides' %}

{% block page_body_css %}
    <link rel="stylesheet" href="{{ url_for('MyRides.static', filename='css/MyRides.css') }}"/>
{% endblock %}


{% block page_body_main_content %}
    <div class="header" >
        <a href="/Home" class="back_btn"> <i class="fa fa-chevron-circle-right" aria-hidden="true"  style='color:lightgray'></i> </a>
        <h1 class="header_text"> הנסיעות שלי </h1>
    </div>

    {% if message %}
         <p id="hide_msg" class="msg"><span id="msg_design">{{ message }} </span></p>
    {% endif %}


   <div class="main" id="main" dir="rtl">

        <div id="myBtnContainer">
            <button class="btn_filter active" onclick="filterSelection('all')"> הצג הכל</button>
            <button class="btn_filter" onclick="filterSelection('1')"> כנהג </button>
            <button class="btn_filter" onclick="filterSelection('2')"> כנוסע </button>
        </div>

                <div class="row">
                    {% for drive in drivers_drive %}
                    <div class="column 1">
                        <div class="content">
                            <div class="right_side">
                                <i class="fa fa-location-arrow" style="color: dodgerblue"></i> &nbsp;&nbsp;{{ drive[2] }} <br>
                                <i class="fa fa-ellipsis-v icon" style="color:gray"></i><br>
                                <i class="fa fa-map-marker" style="color: orange"></i> &nbsp;&nbsp;  {{ drive[3] }}
                            </div>
                            <div class="left_side">
                                <form id="deleteform" action="/MyRides" method="post">
                                    <input type="hidden" value="{{ drive[0] }}" name="drive_id">
                                    <input type="hidden" value="remove_drive" name="req">
                                     <span> <b>תאריך: {{ drive[4] }}</b> </span> <span id="left_side"><button type="submit" onclick="return confirm('האם את/ה בטוח/ה שאת/ה רוצה לבטל את הנסיעה?')" class="remove_btn"> <i class="fa fa-minus-circle" style="color:#d8404a;  font-size:18px"></i> </button> </span> <br><br>
{#                                 <b>תאריך: {{ drive[4] }}</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" onclick="return confirm('האם את/ה בטוח/ה שאת/ה רוצה לבטל את הנסיעה?')" class="remove_btn"> <i class="fa fa-minus-circle" style="color:#d8404a;  font-size:18px"></i> </button> <br><br>#}
                                 <b>שעה: {{ drive[5] }} </b><br> </form>
                                <p class="more_details"> <a href="RideDetailsForDriver?drive_id={{ drive[0] }}" class="link_text" > לפרטים נוספים <i class="fa fa-caret-left" aria-hidden="true"></i> </a> </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% for drives_p in passenger_drive %}
                        <div class="column 2">
                        <div class="content">
                            <div class="right_side">
                                <i class="fa fa-location-arrow" style="color: dodgerblue"></i> &nbsp;&nbsp;{{ drives_p[2] }} <br>
                                <i class="fa fa-ellipsis-v icon" style="color:gray"></i><br>
                                <i class="fa fa-map-marker" style="color: orange"></i> &nbsp;&nbsp;  {{ drives_p[3] }}
                            </div>
                            <div class="left_side">
                                <form id="deleteform" action="/MyRides" method="post">
                                    <input type="hidden" value="{{ drives_p[0] }}" name="drive_id">
                                    <input type="hidden" value="remove_passenger" name="req">
{#                                     <span> <b>תאריך: {{ drive[4] }}</b></span> <span id="left_side"><button type="submit" onclick="return confirm('האם את/ה בטוח/ה שאת/ה רוצה לבטל את הנסיעה?')" class="remove_btn"> <i class="fa fa-minus-circle" style="color:#d8404a;  font-size:18px"></i> </button> </span> <br><br>#}
                                 <b>תאריך: {{ drives_p[4] }}  </b> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button onclick="return confirm('האם את/ה בטוח/ה שאת/ה רוצה לבטל את הנסיעה?')" class="remove_btn"> <i class="fa fa-minus-circle" style="color:#d8404a;  font-size:18px"></i> </button>  <br><br>
                                    <b>שעה: {{ drives_p[5] }} </b><br> </form>
                                <p class="more_details"> <a href="RideDetails?drive_id={{ drives_p[0] }}" class="link_text" > לפרטים נוספים <i class="fa fa-caret-left" aria-hidden="true"></i> </a> </p>

                            </div>
                        </div>
                    </div>
                    {% endfor %}


                </div>
</div>
{% endblock %}

{% block page_body_js %}
    <script src="{{ url_for('MyRides.static', filename='js/MyRides.js') }}"></script>
{% endblock %}



